
.info-cards_inner {
  display: grid;
  place-items: center;
  overflow-x: auto;
}

.info-cards__grid-container {
  grid-auto-flow:column;
  grid-auto-columns: max-content;
  display:grid;
  gap:20px;
  padding: 0 18px 0 0;
  width: max-content;
}

.info-card__grid-item {
  position:relative;
  height:230px;
  margin-bottom:20px;
  display:grid;
  grid-template-rows: max-content;
  border: 2px solid var(--divider-light-blue-transparent);
  border-radius:16px;
  overflow:hidden;
  width:180px;
  
}

.info-card__container-img {
  position:relative;
}
.photo-carg-img {
  width:100%;
  height:100%;
  overflow:hidden;
}


.info-card__title-container {
  position:relative;
  border-top: 1px solid var(--divider-light-blue-transparent);
  height:50px;
  width:inherit;
}

.info-card__title-container:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 16px;
  background: linear-gradient(90deg, transparent, rgba(200, 230, 255, 1), transparent);
}

.info-card__title-image {
  height:100%;
  width:inherit;
  z-index:-1;
}

.button-hidden {
  @include flex-center;
  position:absolute;
  inset:0;
  width:100%;
  height:100%;
  opacity:0;
}

.button-hidden:hover {
  opacity:1;
  background-color:rgba(160, 184, 222, .5);
  transition: all .3s ease;
}

.info-card__title {
  text-transform: uppercase;
  font-weight:6200;
 
  color: var(--white);
  position:absolute;
  @include flex-center;
  width:100%;
  height:100%;
  top:-4px;
}