.banner--border {
	border-top: 1px solid var(--divider-light-blue-transparent);
	border-bottom: 1px solid var(--divider-light-blue-transparent);

		@include laptop-min-width {
			border: 2px solid var(--divider-light-blue-transparent);
			border-radius: 10px; 
			overflow:hidden;
  }
}  

.banner {
	@include laptop-min-width {
	padding: 0 6%;
	}
}

.banner__inner {
	padding: 16px;
	min-height:300px;
	position:relative;
	background: var(--white);
	@include background-snow;
	display: flex;
	align-items: center;
	justify-content: space-between; 
}

.banner__content {
	flex-grow: 2;
	display: inline-flex;
	justify-content: start;
	flex-direction: column;
	gap:6px;
}

.banner__actions {
	flex-grow: 3;
	gap: 30px;
	@include flex-column;
	justify-content: space-around;
	align-items: center;
		@include tablet-min-width {
			flex-direction: row;

		
	}
}

.light-bulb__actions {
	display: flex;
	flex-direction: column;

}

.light-bulb__icon {
	
	height: 80px;
	width: 80px;
}


.banner__features-link {
	display: inline-block;
	text-transform: capitalize;
}

.light__switcher {
	margin: 0 auto;
	
}
.switcher-icon__hidden {
	display: none;
}

.switcher-on,
.switcher-off,
.light-bulb__icon {
	color:rgb(113, 114, 117);
}

.light-bulb__icon {
	pointer-events: none;
}

.switcher:hover {
	transform: scale(1);
}

.light-bulb__active {
	color: rgb(255, 236, 28);
	
}