.sidebar {
	left: -300px;
	transition: left 0.3s ease;
	height: 100%;
	position: fixed;
	z-index: 10;
}

.sidebar--open {
	position: fixed;
	top: 60px;
	left: 0;
	bottom: 0;
	z-index: 10;
}

.sidebar__inner {
	position:absolute;
	inset: 0;
  background: var(--blue-main-theme);
	width: 280px;
  height: 100%;
	box-shadow: var(--sidebar-blue-box-shadow);
}

.nav-list {
	position: relative;
	display: grid;
	gap: 16px;
	padding-top: 18px;
}

.nav-list__item {
	position: relative;
	padding: 0 4px 0 20px;
}

.nav-list__item:after {
	content:'';
	position: absolute;
	width: 140px;
	height: 1px;
	bottom: -6px;
	left:20px;
  background: var(--blue-tiny--divider);
	z-index: 0;
}

.nav-list__item--secondary:before {
	content:'';
	position: absolute;
	width: 170px;
	height:2px;
	left: 6px;
	bottom: -6px;
	background: linear-gradient(90deg, transparent,
	rgba(200, 0, 0, 0.8),
	rgba(255, 60, 60, 0.9),transparent);
	z-index: 1;
} 

.nav-list__link {
	position: relative;
	display: inline-flex;
	gap:10px;
	justify-content: start;
	align-items: end;
} 

.nav-list__title {
	font-weight: 600;
	color: var(--main-light-blue-transparent);
}

.nav-list__link {
	@include hover {
		.nav-list__svg-icon,
		.nav-list__title {

			color: var(--white);
		}
	}
}

/*-----------------------------------------------arrow----------------------------------------------------------*/

.sidebar-arrow {
	position: absolute;
	width: 70px;
	height: 34px;
	top: 0;
	right:26px;
	@include flex-center;
	border-radius: 4px;
}

.sidebar-arrow:before {
	position: absolute;
  content: "";
  height: 40px;
	left: -12px;
	top: -6px;
  width: 1px;
  background: var(--blue-vertical-category-divider);

} 

/*----------------------------------Sub MENU ---------------------------------*/
.sidebar-submenu {
	max-height: 0;
	overflow: hidden;
}

.sidebar-submenu--open {
	max-height: 100%;
	overflow: visible;
}

.submenu__list {
	position: relative;
	padding: 18px 0 0 32px;
	border-radius: 6px;
	display: grid;
	grid-row-gap: 10px;
}
.submenu__item {
	position: relative;
	padding:6px;
}
.submenu__link {
	color: var(--white);
}

.submenu__list:before {
	position: absolute;
	content: '';
	width: 280px;
	height: 1px;
	background: var(--white);
	left: -20px;
	top: 8px;
}

.submenu__item:after {
	position: absolute;
	content: '';
	width: 280px;
	height: 1px;
	background: var(--main-light-blue-transparent);
	left: -52px;
	bottom: -6px;
} 

.sidebar__arrow-icon.rotated {
	transform: rotate(180deg);
}