.page-wrapper {
	position:relative;
}
			
.sidebar {
	position:absolute;
	inset:0;
  background: var(--blue-main-theme);
	width:280px;
  height:100%;
	box-shadow: inset 0 0 12px rgba(50, 210, 255, 0.3),0 4px 20px rgba(0, 0, 0, 0.4),0 2px 6px rgba(0, 149, 255, 0.1);
}

.nav-list {
	display:grid;
	gap:10px;
	padding-top:16px;
	padding-inline-start:14px;
}
.nav-list__item {
	position:relative;
	padding: 6px 6px;
	min-height:36px;
}

.nav-list__item:after {
	content:'';
	position:absolute;
	width:130px;
	height:1px;
	bottom:-6px;
  background: linear-gradient(90deg, 
    transparent, 
    rgba(200, 230, 255, 0.7), 
    transparent);
}

.nav-list__item--secondary {
	font-size:16px;
}
.nav-list__item--secondary:after {
	content:'';
	position:absolute;
	width:150px;
	height:2px;
	left: -4px;
	bottom:-6px;
	background: linear-gradient(90deg, transparent,rgba(200, 0, 0, 0.8), rgba(255, 60, 60, 0.9), transparent);
}

.nav-list__link {
	display:grid;
	grid-auto-flow: column;
	gap:8px;
	justify-content:start;
	align-items:end;
	
}

.nav-list__title {
	font-weight:600;
	color:var( --divider-light-blue-transparent);
}

.nav-list__title {
	@include hover {
		color:var( --white);
	}
}

